<div class="container">
    <div class="row">
        <h1 class="text-center">Admin Panel</h1>
        <ul class="nav nav-tabs tabs-admin" role="tablist">
            <li role="presentation">
                <a href="#!/admin/news" class="tab-admin">News</a>
            </li>
            <li role="presentation">
                <a href="#!/admin/articles" class="tab-admin">Articles</a>
            </li>
            <li role="presentation" class="active">
                <a href="#!/admin/users" class="tab-admin">Users</a>
            </li>
            <li role="presentation">
                <a href="#!/admin/forum" class="tab-admin">Forum</a>
            </li>
        </ul>
    </div>
    <div class="row">

    </div>
</div>