<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            <img src="/public/assets/logo-large.png" class="image-error" alt="tsar-football">
        </div>
    </div>
    <div class="row text-center">
        <h2 class="text-center">404</h2>
        <h1 class="text-center bold error-message">Page not Found!</h1>
    </div>
</div>