<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default panel-credentials">
				<div class="panel-body">
					<h2 class="text-center">Write a New Article</h2>
					<hr/>
					<div id="form-article-create-title" class="form-group">
						<input type="text" placeholder="Title" id="article-create-title" class="form-control">
					</div>
					<div id="form-article-create-image-url" class="form-group">
						<input type="text" placeholder="Image Url" id="article-create-image-url" class="form-control">
					</div>
					<div id="form-article-create-prediction" class="form-group">
						<input type="text" placeholder="Match Prediction" id="article-create-prediction" class="form-control">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div id="form-article-create-sideA" class="form-group">
								<input id="article-create-sideA" type="text" placeholder="Home team" class="form-control">
							</div>
							<div id="form-article-create-lineupsA" class="form-group">
								<textarea id="article-create-lineupsA" placeholder="Team lineups" cols="20" rows="10" class="form-control"></textarea>
							</div>
							<div id="form-article-create-injuredA" class="form-group">
								<textarea id="article-create-injuredA" placeholder="Injured players" cols="20" rows="5" class="form-control"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div id="form-article-create-sideB" class="form-group">
								<input id="article-create-sideB" type="text" placeholder="Away team" class="form-control">
							</div>
							<div id="form-article-create-lineupsB" class="form-group">
								<textarea id="article-create-lineupsB" placeholder="Team lineups" cols="20" rows="10" class="form-control"></textarea>
							</div>
							<div id="form-article-create-injuredB" class="form-group">
								<textarea id="article-create-injuredB" placeholder="Injured players" cols="20" rows="5" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<div id="form-article-create-content" class="form-group">
						<textarea placeholder="Content" id="article-create-content" cols="30" rows="10" class="form-control"></textarea>
					</div>
					<div class="text-center">
						<button id="btn-article-create" type="submit" class="btn btn-success">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>