<div class="container">
	<div class="row">
		<div class="col pull-left">
			<h1>Latest News</h1>
		</div>
	</div>
	<hr></hr>
	<div class="row">
		<div class="article col-lg-4 col-md-4 col-sm-6 col-xs-12">
			<article class="article-news panel panel-info">
				<a href="#">
					<div class="img-container">
						<img class="img-responsive" alt=""
							 src="img">
					</div>
					<div class="content-news">
						<h3>Title</h3>
						<p>Content</p>
					</div>
					<div class="row">
						<div class="time col-xs-12">
							Time
						</div>
					</div>
				</a>
			</article>
		</div>
	</div>
</div>