<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-credentials">
                <div class="panel-body">
                    <h2 class="text-center">Edit Article</h2>
                    <hr />
                    <div id="form-news-edit-title" class="form-group">
                        <input type="text" placeholder="Title" id="news-edit-title" value="{{title}}" class="form-control">
                    </div>
                    <div id="form-news-edit-image-url" class="form-group">
                        <input type="text" placeholder="Image Url" id="news-edit-image-url" value="{{imageUrl}}" class="form-control">
                    </div>
                    <div id="form-news-edit-tags" class="form-group">
                        <input type="text" placeholder="Tags (separeted by commas)" id="news-edit-tags" value="{{tags}}" class="form-control">
                    </div>
                    <div id="form-news-edit-content" class="form-group">
                        <textarea id="news-edit-content" cols="30" rows="10" value class="form-control">{{content}}</textarea>
                    </div>
                    <div class="text-center">
                        <button id="btn-news-edit" type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>