<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-credentials">
                <div class="panel-body">
                    <h2 class="text-center">Write a New Article</h2>
                    <hr />
                    <div id="form-news-create-title" class="form-group">
                        <input type="text" placeholder="Title" id="news-create-title" class="form-control">
                    </div>
                    <div id="form-news-create-image-url" class="form-group">
                        <input type="text" placeholder="Image Url" id="news-create-image-url" class="form-control">
                    </div>
                    <div id="form-news-create-tags" class="form-group">
                        <input type="text" placeholder="Tags (separeted by commas)" id="news-create-tags" class="form-control">
                    </div>
                    <div id="form-news-create-description" class="form-group">
                        <textarea id="news-create-description" placeholder="Provide a brief description..." cols="30" rows="3" class="form-control" />
                    </div>
                    <div id="form-news-create-content" class="form-group">
                        <textarea id="news-create-content" placeholder="Type article content here..." cols="30" rows="10" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button id="btn-news-create" type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>