body {
    padding-top: 60px;
    background: beige;
}

main {
    min-height: 666px;
}

.footer {
    padding: 10px 0;
    background: #333;
}

.footer a {
    color: white;
    font-family: Charlemagne;
}

.form-control:focus {
    border-color: #358753;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #85d0a1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #85d0a1;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #43ac6a;
    cursor: pointer;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #000;
}

.pagination > li > a, .pagination > li > span {
    color: #000;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: -1px;
}

nav a {
    font-size: 1.5rem;
}

@font-face {
    font-family: 'Charlemagne';
    font-style: normal;
    font-weight: normal;
    src: local('Charlemagne Std Bold'), url('./CharlemagneStd-Bold.woff') format('woff');
}

.home-loader {
    margin-top: 7%;
}

.home-loader-title {
    font-family: Charlemagne;
    font-size: 7rem;
}

.error-message {
    font-family: Charlemagne;
}

.panel-credentials {
    padding: 0 15px;
    box-shadow: 0 0 10px lightgrey;
}

.panel-credentials h2 {
    margin: 0;
}

.article-entry {
    border: 1px solid lightgrey;
    border-bottom: 3px solid black;
    cursor: pointer;
    box-shadow: 0 0 6px lightgrey;
    overflow: hidden;
    padding: 10px;
}

.article-entry a {
    text-decoration: none;
}

.article-list-content h3 {
    color: #00ac77;
}

.article-content {
    color: #333333;
    overflow: hidden;
    height: 10rem;
    line-height: 2rem;
    word-break: break-word;
    text-align: justify;
}

.article-entry:hover .img-container img {
    opacity: 0.5;
}

.article-list-content {
    height: 200px;
    overflow: hidden;
}

.article-create-time {
    font-style: italic;
    color: #00ac77;
}

.img-container img {
    width: 100%;
    height: 200px;
}

.article-details-img {
    margin-top: 20px;
    width: 100%;
}

.article-header {
    padding: 0 15px;
    margin: 0;
}

.article-header h1 {
    border-left: 3px solid black;
    padding-left: 1%;
    margin: 0;
}

.article-details-title {
    font-size: 4.5rem;
    font-weight: bold;
}

.article-detail-content {
    text-align: justify;
    border-top: 2px solid #00ac77;
    border-radius: 10px;
    margin-top: 30px;
    padding-top: 15px;
}

.article-details-aside {
    background-color: #eaeaea;
    border-radius: 10px;
    margin-top: 20px;
}

.article-aside-lineups {
    border-bottom: 2px solid #00ac77;
    border-radius: 10px;
    padding-bottom: 5px;
}

.article-aside-team-list {
    list-style: none;
    margin-top: 10px;
    -webkit-padding-start: 0;
}

.article-aside-injured {
    border-top: 2px solid #00ac77;
    border-bottom: 2px solid #00ac77;
    border-radius: 10px;
    margin: 0 13px 0 13px;
    padding: 5px 0 5px 0;
}

.article-aside-team {
    font-weight: bold;
    text-decoration: underline;
}

.article-aside-prediction {
    border-top: 2px solid #00ac77;
    border-bottom: 2px solid #00ac77;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    margin-top: 0;
}

.article-comments-border {
    border-top: 2px solid #00ac77;
    border-bottom: 2px solid #00ac77;
    border-radius: 10px;
    padding: 5px 0 5px 0;
}

.banner-articles {
    padding: 0;
    margin-top: -15px;
}

.news-entry {
    cursor: pointer;
    border: 1px solid lightgrey;
    border-right: 4px solid black;
    overflow: hidden;
    color: black;
}

.news-entry:hover {
    border-right: 4px solid #43AC6A;
}

.news-entry-image {
    height: 198px;
    overflow: hidden;
    background-position: center center;
    background-size: 380px;
    background-repeat: no-repeat;
}

.news-entry-title {
    margin-top: 5px;
    margin-bottom: 25px;
}

.news-entry-content {
    text-align: justify;
    height: 4.6rem;
    line-height: 2.3rem;
    overflow: hidden;
    font-style: italic;
}

.news-entry-date {
    margin-bottom: 0;
}

.img-news-details {
    width: 100%;
}

.news-details-content {
    white-space: pre-wrap;
    text-align: justify;
    margin-bottom: 25px;
}

.bold {
    font-weight: bold;
}

.aside-photo {
    padding-right: 0;
}

.aside-title {
    margin-top: 0;
    font-weight: bold;
    border-bottom: 2px solid black;
    text-align: right;
}

.aside-article {
    color: black;
}

.aside-tab {
    margin-bottom: 15px;
    cursor: pointer;
}

.aside-tab:hover .aside-article {
    text-decoration: underline;
}

.btn-create {
    margin-top: 25px;
}

.btn-black {
    background: black;
    border-color: black;
    color: white;
}

.italic {
    font-style: italic;
}

.inline-block {
    display: inline-block;
}

.btn-comment-delete {
    color: grey;
    cursor: pointer;
}

.btn-comment-delete:hover {
    text-decoration: underline;
}

.comment, .new-comment-box {
    border: 1px solid beige;
    box-shadow: 0 0 5px lightgrey;
    margin-bottom: 15px;
    padding: 5px 0;
}

.comment-avatar {
    padding-right: 28px;
}

.comment-content {
    padding-left: 0;
}

.btn-news-comment {
    margin-top: 1%;
}

.comment-content {
    word-break: break-word;
}

.news-container, .admin-container, .article-container {
    padding: 30px 22px 10px 22px;
    margin-top: -30px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 2px lightgrey;
    margin-bottom: 20px;
}

.admin-container {
    margin-bottom: 30px;
}

.admin-container ul, .admin-container .pager {
    margin-bottom: 0;
}

.news-header {
    padding: 0 15px;
    margin: 0;
}

.news-header h1 {
    border-left: 3px solid black;
    padding-left: 1%;
    margin: 0;
}

.icon-social {
    max-width: 37px;
}

.no-padding {
    padding: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.socials-container {
    margin-bottom: 38px;
}

.tags-header {
    padding: 7px 0;
}

.tags-header span {
    cursor: pointer;
}

.field-facebook {
    color: black;
}

.field-facebook:hover {
    color: white;
    background: #45619D;
    cursor: pointer;
}

.field-comments:hover {
    color: white;
    background: #43ac6a;
    cursor: pointer;
}

.comment-box {
    margin-top: 25px;
}

.news-description {
    margin-bottom: 25px;
    line-height: 2.5rem;
    text-align: justify;
}

.comment-box {
    padding-top: 60px;
    margin-top: -60px;
}

.news-main-heading {
    font-size: 4.5rem;
}

.disabled-link {
    pointer-events: none;
}

.banner {
    padding: 0;
    margin-top: -15px;
    margin-bottom: 20px;
}

.navbar-brand {
    padding: 0;
}

.navbar-logo {
    max-height: 42px;
}

.tabs-admin {
    text-align: center;
}

.tabs-admin li {
    display: inline-block;
    float: none;
}

.admin-operations {
    margin-top: 21px;
}

.admin-news-title {
    color: black;
}

.image-error {
    max-width: 60%;
}

.forum-main-image {
    height: 100px;
    overflow: hidden;
    background-position: center center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.forum-link {
    text-decoration: none;
    color: black;
}

.forum-link:hover, .forum-link:active, .forum-link:focus, .forum-link:focus {
    color: black;
}

.forum-section, .search-section {
    border-right: 4px solid black;
}

.forum-link:hover .forum-section, .search-section:hover {
    border-right: 4px solid #43AC6A;
}

.forum-stats {
    margin-top: 22px;
}

.forum-last-post {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.grey-text {
    color: grey;
}

.list-threads-content {
    text-align: justify;
    height: 4.6rem;
    line-height: 2.3rem;
    overflow: hidden;
    font-style: italic;
}

.threads-list-title {
    margin: 10px 0 5px 0;
}

.like-icons {
    font-size: 2rem;
    padding: 12px 10px 0 0;
}

.thread-title {
    margin-top: 10px;
}

.post-picture-hr {
    margin: 10px 0 5px 0;
}

.thread-post-content {
    text-align: justify;
    line-height: 2.4rem;
}

.post-options {
    margin: 10px 0 10px 0;
}

.like-icon-post:hover {
    color: #43AC6A;
    cursor: pointer;
}

.new-post-panel {
    padding-top: 10px;
}

.new-post-avatar {
    padding: 0 0 5px 8px;
}

.post-content {
    padding: 15px 10px 0 0;
    word-break: break-word;
}

.post-avatar {
    padding: 5px 10px 5px 5px;
}

.thread-header {
    padding: 0 15px;
}

.img-thread-header {
    margin-top: 15px;
    border-radius: 3%;
    cursor: pointer;
}

.new-post-col {
    padding-left: 0;
}

.pre-wrap {
    white-space: pre-wrap;
}

.likes-count, .dislikes-count {
    margin-left: 10px;
    user-select: none;
}

.likes-count {
    margin-right: 10px;
}

.like-icons {
    user-select: none;
}

.btn-edit-post, .btn-delete-post {
    cursor: pointer;
}

#new-post-reveal {
    padding-left: 0;
    margin-right: -15px;
}

.pager-forum-thread {
    margin: 0;
}

.pager-forum-thread ul {
    margin: 5px 0 0 0;
}

.no-threads-heading {
    font-family: Charlemagne;
}

.modal-img-articles {
    width: 100%;
}

.icon-close {
    color: white;
    position: absolute;
    top: 1.5%;
    right: 1%;
    font-size: 2.5rem;
    z-index: 999;
    cursor: pointer;
}

.modal-body {
    padding: 0;
}

.modal-dialog {
    width: 80%;
}

.modal-content {
    border: 2px solid white;
    border-radius: 1%;
}

.modal-content img {
    border-radius: 1%;
}

.thread-container {
    padding: 30px 22px 10px 22px;
    margin-top: -30px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 2px lightgrey;
    margin-bottom: 30px;
}

.btn-new-thread-bottom {
    margin: 0 -15px 0 0;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forum-post-options {
    margin-left: 15px;
}

.no-padding-left {
    padding-left: 0 !important;
}

.category-container {
    padding: 30px 22px 10px 22px;
    margin-top: -30px;
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 2px lightgrey;
    margin-bottom: 20px;
}

.thread-content-placeholder {
    word-break: break-word;
}

.search-select-options {
    margin-top: 22px;
}

.profile-picture {
    max-width: 200px;
    background: white;
}

.panel-profile {
    margin-top: -18%;
    padding-top: 18%;
}

.panel-profile {
    padding-bottom: 20px;
    border: 1px solid grey;
    border-bottom: 3px solid black;
}

.profile-options a {
    margin-top: 18px;
}

.profile-picture {
    border: 1px solid grey;
}

.black-text {
    color: black;
}

.standings-team-badge {
    height: 15px;
}

.standings thead {
    background: #333;
    color: white;
}

.no-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.standings-team-cell {
    width: 90px;
    display: block;
}

.container-landing-photo {
    width: 100%;
    position: absolute;
    top: 45px;
    padding: 0;
    z-index: -1;
}

.container-landing-page {
    background-color: white;
    border: 1px solid lightgrey;
    box-shadow: 0 0 2px lightgrey;
    margin-bottom: 20px;
}

.title-container {
    margin-top: 9%;
}

.logo-home-container {
    height: 50px;
}

.div-site-logo {
    margin: 5px 0 15px 0;
}

.landing-page-title {
    color: white;
    display: inline-block;
    padding: 0 10px;
    font-family: Charlemagne;
    font-weight: bold;
    font-size: 5rem;
    z-index: 999;
    background-color: #333;
    border-left: 3px solid #43AC6A;
    border-right: 3px solid #43AC6A;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.panel-section {
    border: 1px solid grey;
    border-bottom: 3px solid #333;
    cursor: pointer;
}

.panel-section:hover {
    border-bottom: 3px solid #43AC6A;
}

.panel-section img {
    width: 100%;
}

th, td {
    cursor: default;
}

.landing-page-subtitle {
    padding: 0 20px;
}

.landing-page-subtitle h2 {
    font-family: Charlemagne;
}

.hr-smaller-margin {
    margin: 10px 0;
}

.entry-related {
    border-right: 3px solid #333;
}

.entry-related:hover {
    border-right: 3px solid #43AC6A;
}

.home-related-entry {
    height: 100px;
    overflow: hidden;
    background-position: center center;
    background-size: 300px;
    background-repeat: no-repeat;
}

.black-link, .black-link:hover {
    color: black;
    text-decoration: none;
}

.aside-title-left {
    text-align: left;
}

.standings {
    border: 1px solid lightgrey;
}

.img-home-page {
    width: 100%;
}

.bread-word {
    word-break: break-word;
}

.search-main-image {
    height: 100px;
    overflow: hidden;
    background-position: center center;
    background-size: 200px;
    background-repeat: no-repeat;
}

.search-meta {
    border-left: 1px solid lightgrey;
}

.search-bar-page {
    padding-bottom: 15px;
}

.search-container {
    min-height: 513px;
}

.tag-link, .tag-link:hover {
    text-decoration: none;
}

.btn-add-comment-article {
    margin-right: 5px;
}

.img-articles-list {
    height: 150px;
    overflow: hidden;
    background-position: center center;
    background-size: 380px;
    background-repeat: no-repeat;
}

.article-entry h3, .article-entry span {
    color: black;
}

.article-entry {    
    border-bottom: 3px solid black !important;
}

.article-entry:hover {    
    border-bottom: 3px solid #43ac6a !important;
}