@media only screen and (max-width: 1200px) {
    .standings-data-cell {
        padding-left: 0 !important;
    }
}

@media only screen and (max-width: 991px) {
    a {
        text-decoration: none !important;
    }
    .news-author-field, .news-author-field p, .field-facebook, .field-comments, .tags-header, #btn-facebook-share {
        display: inline-block;
    }
    .socials-container {
        margin-bottom: 0;
    }
    .tags-header {
        float: right;
    }
    .news-field-text {
        display: none;
    }
    .comment-avatar, .comment-content {
        display: inline-block;
    }
    .new-comment-box {
        height: 135px;
    }
    .comment-avatar {
        width: 19%;
    }
    .new-comment-box .comment-content {
        position: absolute;
        width: 80%;
    }
    #btn-news-comment {
        display: initial !important;
    }
    .aside-photo, .aside-article {
        display: inline-block;
    }
    .aside-photo {
        width: 35%;
    }
    .aside-article {
        width: 64%;
        font-size: 2rem;
        vertical-align: top;
    }
    .comment .comment-content {
        width: 79%;
        vertical-align: top;
    }
    .news-entry-image, .news-entry-info {
        display: inline-block;
    }
    .news-entry-image {
        width: 33%;
    }
    .news-entry-info {
        vertical-align: top;
        width: 66%;
    }
    .post-avatar, .post-content, .new-post-col {
        display: inline-block;
        vertical-align: top;
    }
    .post-avatar {
        width: 19%;
    }
    .post-content, .new-post-col {
        width: 79%;
    }
    .thread-container {
        margin-top: -15px;
    }
    .forum-main-image, .forum-main-description, .forum-last-post, .forum-views {
        display: inline-block;
        vertical-align: top;
    }
    .forum-main-image {
        width: 16%;
    }
    .forum-main-description {
        width: 41%;
    }
    .forum-last-post {
        width: 25%;
    }
    .forum-views {
        width: 16%;
    }
    .thread-date {
        font-size: smaller;
    }
    .home-related-entry {
        height: 350px;
        background-size: 800px;
    }
    .standings-team-cell {
        width: initial;
    }
}

@media only screen and (max-width: 720px) {
    .home-loader-title {
        font-size: 6rem;
    }
    .comment-avatar {
        padding: 0 5px;
    }
    .forum-section, .forum-link:hover .forum-section {
        border-right: 1px solid lightgrey;
    }
    #new-post-reveal {
        margin-top: 20px;
        text-align: center;
    }
    .forum-main-image, .forum-main-description {
        display: block;
        width: 100%;
    }
    .btn-new-thread-bottom {
        text-align: center;
        margin-top: 20px;
    }
    .forum-main-image {
        height: 200px;
        background-size: 700px;
    }
    .forum-views {
        width: initial;
    }
    .forum-last-post {
        width: 79%;
    }
    .forum-views {
        float: right;
        padding-left: 0;
        font-size: smaller;
    }
    .category-container {
        margin-top: -21px;
    }
    .forum-stats {
        margin-top: 0;
    }
    .forum-container {
        margin-top: -21px;
    }
    .forum-section {
        border: none;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
    }
}

@media only screen and (max-width: 650px) {
    .comment-avatar {
        padding: 10px 5px;
    }
    .forum-main-image {
        background-size: 650px;
    }
}

@media only screen and (max-width: 600px) {
    .home-loader-title {
        font-size: 5rem;
    }
    .forum-main-image {
        background-size: 600px;
    }
}

@media only screen and (max-width: 550px) {
    .news-main-heading {
        font-size: 3rem;
    }
    .news-description {
        font-size: 1.6rem;
    }
    .panel-credentials {
        padding: 0;
    }
    .news-entry-image, .news-entry-info {
        display: block;
        width: 100%;
        background-size: 600px;
    }
    .news-entry, .news-entry:hover {
        border: 1px solid lightgrey;
    }
    .forum-main-image {
        background-size: 550px;
    }
    .home-related-entry {
        height: 250px;
        background-size: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .news-entry-image, .news-entry-info {
        background-size: 550px;
    }
    .landing-page-title {
        font-size: 4rem;
    }
    .title-related-home {
        font-size: 1.7rem;
    }
}

@media only screen and (max-width: 450px) {
    .news-entry-image, .news-entry-info {
        background-size: 500px;
    }
    .news-entry-info h2 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 405px) {
    .aside-photo {
        width: 33%;
    }
    .aside-article {
        width: 64%;
        font-size: 2rem;
        vertical-align: top;
    }
    .news-entry-image, .news-entry-info {
        background-size: 450px;
    }
    .forum-main-image {
        background-size: 450px;
    }
    .home-related-entry {
        height: 200px;
        background-size: 400px;
    }
    .standings-team-cell {
        width: 90px;
    }
}

@media only screen and (max-width: 335px) {
    .standings-container {
        padding-left: 0;
    }
}