<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-credentials">
                <div class="panel-body">
                    <h2 class="text-center">Create a new Forum Category</h2>
                    <hr />
                    <div id="form-create-category-title" class="form-group">
                        <input type="text" placeholder="Title" id="create-category-title" class="form-control">
                    </div>   
                     <div id="form-create-category-image-url" class="form-group">
                        <input type="text" placeholder="Image Url" id="create-category-image-url" class="form-control">
                    </div>                 
                     <div id="form-create-category-link-name" class="form-group">
                        <input type="text" placeholder="Link name (preferred lower case hyphonated names)" id="create-category-link-name" class="form-control">
                    </div>                               
                    <div id="form-create-category-description" class="form-group">
                        <textarea id="create-category-description" placeholder="Type category description here..." cols="30" rows="10" class="form-control" />
                    </div>
                    <div class="text-center">
                        <button id="btn-category-create" type="button" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>