<div class="container-fluid banner">
    <img src="/public/assets/banner-forum.png" alt="forum-tsar-football" class="img-responsive">
</div>
<div class="container">
    {{#each sections}}
    <a class="forum-link" href="#!/forum/{{link}}">
        <div class="forum-section panel panel-default row">
            <div class="col-md-2 forum-main-image" style="background-image: url('{{imageUrl}}');">
            </div>
            <div class="col-md-5">
                <h3>{{title}}</h3>
                <p class="small italic">{{description}}</p>
            </div>
            <div class="col-md-3 forum-stats forum-last-post italic">
                <p>Last thread something</p>
                <p class="no-margin-bottom">Posted by someone</p>
            </div>
            <div class="col-md-2 forum-stats italic">
                <p class="text-center">5 Threads</p>
                <p class="text-center">300 posts</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>